<div class="contenedor">
    <p-button label="Nuevo Cliente" [raised]="true" severity="primary" class="" />

    <div class="tabla">
        <p-table [value]="clientes"
        [value]="clientes"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        (onLazyLoad)="Buscar($event)"
        [loading]="loading"
        [rowsPerPageOptions]="[10,20,50]"
        [tableStyle]="{ 'min-width': '60rem' }">
        >
            <ng-template #header>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Alta</th>
                    <th>Estado</th>
                </tr>
            </ng-template>
            <ng-template #body let-cliente>
                <tr>
                    <td>{{ cliente.DNI }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.descripcion }}</td>
                    <td>{{ cliente.fechaAlta | date: 'dd/MM/yyyy' }}</td>
                    <td class="acciones">
                        <p-button severity="warn" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-pencil" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
