<p-confirmpopup />

<div class="contenido">
    <div class="izq">
        <div class="tarjeta">
            <i class="pi pi-user"></i>

            <div class="datos">
                <h5>{{cliente.nombre}}</h5>
                <span>{{cliente.DNI}}</span>
                <p>{{cliente.descripcion}}</p>
            </div>
                
            <p-button 
            label="Editar Datos"  
            size="small" 
            icon="pi pi-pencil" 
            severity="primary"
            (onClick)="mostrarmodalAddMod = true"/>
        </div>

        @for (item of cliente.apps; track $index) {
            <div class="app">
                <div class="enLinea">
                    <h5>{{item.app?.nombre}}</h5>
                    <p-button 
                        [icon]="item.habilitado ? 'pi pi-check-circle' : 'pi pi-times-circle'" 
                        [rounded]="true" 
                        [text]="true"
                        [raised]="true"
                        [severity]="item.habilitado ? 'success' : 'danger'"
                        [pTooltip]="item.habilitado ? 'Habilitado' : 'Deshabilitado'" 
                        tooltipPosition="bottom"
                        (click)="ConfirmarCambioEstado($event, item.app?.id!, item.habilitado!)">
                    </p-button>

                </div>

                <p>Versión App: <span>{{item.app?.version}}</span></p>
                <p>Versión Cliente: <span>{{item.version}}</span></p>
                <p>Actualizado: <span>{{item.actualizacion | date:'dd/MM/yyyy hh:mm'}}</span></p>
                <p-divider />
                <p>Nro Terminal: <span>{{item.terminal}}</span></p>
                <p>MAC: <span>{{item.mac}}</span></p>
            </div>
        }

    </div>
    <div class="der">
        <div class="cabecera-tabla">
            <h4>Pagos Realizados</h4>
            <p-button 
            label="Nuevo Pago"  
            size="small" 
            icon="pi pi-plus" 
            severity="primary"
            (onClick)="AgregarPago()"/>
        </div>
        <p-divider />

        <p-table 
        class="tabla"
        [value]="pagos"
        [lazy]="true"
        [paginator]="true"
        [totalRecords]="totalRecords"
        (onLazyLoad)="BuscarPagos($event)"
        [loading]="loading"
        [rows]="5"
        [tableStyle]="{ 'width': '100%' }" 
        tableStyleClass="auto-table">
        
            <ng-template #header>
                <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Obs</th>
                    <th>Borrar</th>
                </tr>
            </ng-template>
            <ng-template #body let-pago>
                <tr>
                    <td>{{ pago.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td>${{ pago.monto | decimalFormat }}</td>
                    <td>{{ pago.obs }}</td>
                    <td>
                        <div class="acciones">
                            <p-button severity="danger" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-trash" (click)="EliminarPago($event, pago.id)" />
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Modal Agregar Pagos -->
<p-dialog [modal]="true" [(visible)]="mostrarModalPago" [style]="{ width: '25rem' }">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-dollar"></i>
            <span>Nuevo Pago</span>
        </div>
    </ng-template>
    <form autocomplete="off" class="formulario" [formGroup]="formPago" (keyup.enter)='GuardarPago()'>
        <p-floatlabel variant="in">
            <input #montoInput pInputText formControlName="monto" [imask]="decimal_mask" [pAutoFocus]="true"  />
            <label>Monto</label>
            @if(campoInvalido('monto')){
                <small class="error">Monto es requerido.</small>
            }
        </p-floatlabel>

        <p-floatlabel variant="in">
            <input pInputText formControlName="obs"/>
            <label>Observación</label>
        </p-floatlabel>
    </form>
    <div class="botones">
        <p-button label="Cancelar" severity="secondary" (click)="mostrarModalPago = false" />
        <p-button label="Guardar" (click)="GuardarPago()" />
    </div>
</p-dialog>

<!-- Modal Editar Cliente -->
<p-dialog [modal]="true" [(visible)]="mostrarmodalAddMod" [style]="{ width: '30rem' }">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-user"></i>
            <span>Editar Cliente</span>
        </div>
    </ng-template>
    <app-addmod-clientes [cliente]="cliente" (cerrar)="RecargarDatos($event)"/>
</p-dialog>
