<div class="contenedor">
    <p-button 
    label="Nuevo Cliente"  
    size="small" 
    icon="pi pi-plus" 
    severity="primary"
    (onClick)="Agregar()"/>

    <div class="tabla">
        <p-table 
        [value]="clientes"
        [lazy]="true"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        (onLazyLoad)="Buscar($event)"
        [loading]="loading"
        [rowsPerPageOptions]="[10,20,50]"
        [tableStyle]="{ 'min-width': '60rem' }">
        >
            <ng-template #header>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Alta</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template #body let-cliente>
                <tr>
                    <td>{{ cliente.DNI }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.descripcion }}</td>
                    <td>{{ cliente.fechaAlta | date: 'dd/MM/yyyy' }}</td>
                    <td class="acciones">
                        <p-button severity="primary" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-desktop" (click)="VerAppsCliente(cliente.DNI); op.toggle($event)" pTooltip="Apps" tooltipPosition="bottom" />
                        <p-button severity="primary" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-id-card" (onClick)="Navegar(cliente.DNI)" pTooltip="Detalles" tooltipPosition="bottom" />
                        <p-button severity="warn" styleClass="p-button-sm" [rounded]="true" [outlined]="true" icon="pi pi-pencil" (onClick)="Editar(cliente.DNI)" pTooltip="Editar" tooltipPosition="bottom"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Modal Agregar Editar -->
<p-dialog [modal]="true" [(visible)]="mostrarmodalAddMod" [style]="{ width: '30rem' }">
    <ng-template #header>
        <div class="modal-header">
            <i class="pi pi-user"></i>
            <span>
                {{ clienteSeleccionado ? 'Editar Cliente' : 'Agregar Cliente' }}
            </span>
        </div>
    </ng-template>
    <app-addmod-clientes [cliente]="clienteSeleccionado" (cerrar)="Actualizar($event)"/>
</p-dialog>

<!-- Popover aplicaciones -->
<p-popover #op>
    <div class="popover">
        <div>
            <ul>
                @for(aplicacion of clienteSeleccionado?.apps; track $index) {
                <li class="app-card">
                    <div class="app-info">
                        <span>{{ aplicacion.app?.nombre }}</span>
                        <p>{{ aplicacion.actualizacion | date: 'dd/MM/yy HH:mm'}}</p>
                    </div>
                    <p-button 
                        [icon]="aplicacion.habilitado ? 'pi pi-check-circle' : 'pi pi-times-circle'" 
                        [rounded]="true" 
                        [text]="true"
                        [raised]="true"
                        [severity]="aplicacion.habilitado ? 'success' : 'danger'"
                        [pTooltip]="aplicacion.habilitado ? 'Habilitado' : 'Deshabilitado'" 
                        tooltipPosition="bottom">
                    </p-button>
                </li>
                }
            </ul>
        </div>
    </div>
</p-popover>