.contenido{
    padding: 30px 50px;
    display: flex;
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;

    .izq{
        flex: 0.5;
        max-width: 400px;
    }
    .der{
        flex: 2;
        max-width: 650px;
        background-color: var(--surface-e);
        padding: 20px;
        border-radius: 10px;;
    }
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--surface-e);
    margin-bottom: 20px;

    .datos{
        text-align: center;
        text-align: center;
        
        h5{
            font-size: 20px;
            margin-bottom: 5px;
        }

        p{
            margin-top: 10px;
            font-size: 16px;
        }
    }

    .icono{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
    }
}

.app{
    background-color: var(--surface-e);
    border-radius: 10px;
    padding: 20px;
    
    .enLinea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h5{
            font-size: 20px;
            font-family: "Poppins";
            font-weight: 100;
        }
        i{
            font-size: 20px;
            cursor: pointer;
        }
        .habilitado .p-button-text{
            color: #87ff6f !important;
        }
        .deshabilitado .p-button-outlined{
            color: #ff6f6f !important;
        }
    }

    p{
        margin-bottom: 3px;
        font-size: 15px;

        span{
            color: var(--p-primary-color);
        }
    }
}

//#region Actualizaciones
.cabecera-tabla{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .tabla{
    .p-datatable-thead > tr > th{
        background-color: var(--surface-e) !important;
        border-color: var(--surface-g) !important;
    }
    .p-datatable-tbody > tr > td{
        background-color: var(--surface-e) !important;
        border-color: var(--surface-g) !important;
    }
    .p-paginator{
        margin-top: 10px;
        background-color: var(--surface-e) !important;
        border-color: var(--surface-g) !important;
    }
}

.formulario{
    display: flex;
    gap: 25px;
    width: 100%;
    padding-top: 5px;

    .izq{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .der{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .horizontal{
        display: flex;
        gap: 10px;
        width: 100%;
        p-select{
            width: 100% !important;
        }
    }
}

.p-divider-horizontal{
    margin: 8px 0;
}
.switch{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

//#endregion

